image: docker:stable

variables:
    GIT_STRATEGY: clone
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    RELEASE_IMAGE: $REGISTRY_HOST/$REGISTRY_IMAGE

services:
    - docker:18.09.7-dind

stages:
    - Build and push

7.1 (latest) Build and push:
    stage: Build and push
    script:
        - docker build -f Dockerfile.7_1 --build-arg BUILD_IMAGE=php:7.1-fpm --build-arg PHP_EXTRA_CONFIGURE_ARGS="--enable-mailparse" -t $RELEASE_IMAGE:7.1 .
        - docker push $RELEASE_IMAGE:7.1
        - docker tag $RELEASE_IMAGE:7.1 $RELEASE_IMAGE:latest
        - docker push $RELEASE_IMAGE:latest
    tags:
        - docker-in-docker

7.2 Build and push:
    stage: Build and push
    script:
        - docker build -f Dockerfile.7_2 --build-arg BUILD_IMAGE=php:7.2-fpm --build-arg PHP_EXTRA_CONFIGURE_ARGS="--enable-mailparse" -t $RELEASE_IMAGE:7.2 .
        - docker push $RELEASE_IMAGE:7.2
    tags:
        - docker-in-docker

7.3 Build and push:
    stage: Build and push
    script:
        - docker build -f Dockerfile.7_2 --build-arg BUILD_IMAGE=php:7.3-fpm -t $RELEASE_IMAGE:7.3 .
        - docker push $RELEASE_IMAGE:7.3
    tags:
        - docker-in-docker